.DS_Store
web_front/node_modules/
web_front/dist/
web_front/npm-debug.log*
web_front/yarn-debug.log*
web_front/yarn-error.log*

# Editor directories and files
web_front/.idea
web_front/.vscode
web_front/*.suo
web_front/*.ntvs*
web_front/*.njsproj
web_front/*.sln


web_backend/venv/*
web_backend/DataVisualizationHomework/settings.py
web_backend/.idea/*
web_backend/db.sqlite3